/* _content/Ruby.Plugin.AudioManager/AudioPlayer.razor.rz.scp.css */
.my-component[b-55ey603fyd] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
